html {
    background: #331c1c;
    
    -webkit-font-smoothing: antialiased;
}

body {
    animation: colorize 3s cubic-bezier(0, 0, .78, .36) 1;
    background-color: #242323;
    background-image: url(OldPaper1.jpeg);
    background-size: contain;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font: 16px Trattatello;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

p {
    text-align: center;
    font-size: 20px;
    color: #542E2F;
}

h1{
    color: #542E2F;
    font-weight: 100;
    line-height: 1;
    font-size: 55px;
    text-align: center;
    margin-bottom: .25em;
}

h2 {
    font: 15px Times New Roman, serif;
    color: black;

}

h3 {
    color: #542E2F;
    font-size: 16px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

a {
    color: black;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    display: block;
    margin: 1.3em auto;
    margin-bottom: .5em;
    max-width: 100%;
    margin-top: 0;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
